################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/OpenWeatherMapIoCv2/bin/Debug/net8.0/4.OpenWeatherMapIoCv2.dll
/OpenWeatherMapIoCv2/bin/Debug/net8.0/4.OpenWeatherMapIoCv2.exe
/OpenWeatherMapIoCv2/bin/Debug/net8.0/4.OpenWeatherMapIoCv2.pdb
/.vs/OpenWeatherMap/v17/.suo
/.vs/OpenWeatherMap/v17/DocumentLayout.json
/OpenWeatherMapIoC/obj/Debug/net8.0/3.OpenWeatherMapIoC.AssemblyInfoInputs.cache
/OpenWeatherMapIoCv2/obj/Debug/net8.0/ref/4.OpenWeatherMapIoCv2.dll
/OpenWeatherMapIoCv2/obj/Debug/net8.0/4.OpenWeatherMapIoCv2.AssemblyInfoInputs.cache
/OpenWeatherMapIoCv2/obj/Debug/net8.0/4.OpenWeatherMapIoCv2.dll
/OpenWeatherMapIoCv2/obj/Debug/net8.0/4.OpenWeatherMapIoCv2.pdb
/OpenWeatherMapIoCv2/obj/Debug/net8.0/4.OpenWeatherMapIoCv2.sourcelink.json
/OpenWeatherMapIoCv2/obj/Debug/net8.0/apphost.exe
/OpenWeatherMapIoCv3/bin/Debug/net8.0/4.OpenWeatherMapIoCv2.deps.json
/OpenWeatherMapIoCv3/bin/Debug/net8.0/4.OpenWeatherMapIoCv2.dll
/OpenWeatherMapIoCv3/bin/Debug/net8.0/4.OpenWeatherMapIoCv2.exe
/OpenWeatherMapIoCv3/bin/Debug/net8.0/4.OpenWeatherMapIoCv2.pdb
/OpenWeatherMapIoCv3/bin/Debug/net8.0/4.OpenWeatherMapIoCv2.runtimeconfig.json
/OpenWeatherMapIoCv3/bin/Debug/net8.0/5.OpenWeatherMapIoCv3.deps.json
/OpenWeatherMapIoCv3/bin/Debug/net8.0/5.OpenWeatherMapIoCv3.dll
/OpenWeatherMapIoCv3/bin/Debug/net8.0/5.OpenWeatherMapIoCv3.exe
/OpenWeatherMapIoCv3/bin/Debug/net8.0/5.OpenWeatherMapIoCv3.pdb
/OpenWeatherMapIoCv3/bin/Debug/net8.0/5.OpenWeatherMapIoCv3.runtimeconfig.json
/OpenWeatherMapIoCv3/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
/OpenWeatherMapIoCv3/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Binder.dll
/OpenWeatherMapIoCv3/bin/Debug/net8.0/Microsoft.Extensions.Configuration.CommandLine.dll
/OpenWeatherMapIoCv3/bin/Debug/net8.0/Microsoft.Extensions.Configuration.dll
/OpenWeatherMapIoCv3/bin/Debug/net8.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
/OpenWeatherMapIoCv3/bin/Debug/net8.0/Microsoft.Extensions.Configuration.FileExtensions.dll
/OpenWeatherMapIoCv3/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Json.dll
/OpenWeatherMapIoCv3/bin/Debug/net8.0/Microsoft.Extensions.Configuration.UserSecrets.dll
/OpenWeatherMapIoCv3/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/OpenWeatherMapIoCv3/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
/OpenWeatherMapIoCv3/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Abstractions.dll
/OpenWeatherMapIoCv3/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Physical.dll
/OpenWeatherMapIoCv3/bin/Debug/net8.0/Microsoft.Extensions.FileSystemGlobbing.dll
/OpenWeatherMapIoCv3/bin/Debug/net8.0/Microsoft.Extensions.Hosting.Abstractions.dll
/OpenWeatherMapIoCv3/bin/Debug/net8.0/Microsoft.Extensions.Hosting.dll
/OpenWeatherMapIoCv3/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/OpenWeatherMapIoCv3/bin/Debug/net8.0/Microsoft.Extensions.Logging.Configuration.dll
/OpenWeatherMapIoCv3/bin/Debug/net8.0/Microsoft.Extensions.Logging.Console.dll
/OpenWeatherMapIoCv3/bin/Debug/net8.0/Microsoft.Extensions.Logging.Debug.dll
/OpenWeatherMapIoCv3/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
/OpenWeatherMapIoCv3/bin/Debug/net8.0/Microsoft.Extensions.Logging.EventLog.dll
/OpenWeatherMapIoCv3/bin/Debug/net8.0/Microsoft.Extensions.Logging.EventSource.dll
/OpenWeatherMapIoCv3/bin/Debug/net8.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/OpenWeatherMapIoCv3/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/OpenWeatherMapIoCv3/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
/OpenWeatherMapIoCv3/bin/Debug/net8.0/Newtonsoft.Json.dll
/OpenWeatherMapIoCv3/bin/Debug/net8.0/runtimes/win/lib/netcoreapp2.0/System.Diagnostics.EventLog.dll
/OpenWeatherMapIoCv3/bin/Debug/net8.0/System.Diagnostics.EventLog.dll
/OpenWeatherMapIoCv3/obj/Debug/net8.0/4.OpenWe.0ACFC512.Up2Date
/OpenWeatherMapIoCv3/obj/Debug/net8.0/4.OpenWeatherMapIoCv2.AssemblyInfoInputs.cache
/OpenWeatherMapIoCv3/obj/Debug/net8.0/4.OpenWeatherMapIoCv2.assets.cache
/OpenWeatherMapIoCv3/obj/Debug/net8.0/4.OpenWeatherMapIoCv2.csproj.AssemblyReference.cache
/OpenWeatherMapIoCv3/obj/Debug/net8.0/4.OpenWeatherMapIoCv2.csproj.CoreCompileInputs.cache
/OpenWeatherMapIoCv3/obj/Debug/net8.0/4.OpenWeatherMapIoCv2.csproj.FileListAbsolute.txt
/OpenWeatherMapIoCv3/obj/Debug/net8.0/4.OpenWeatherMapIoCv2.dll
/OpenWeatherMapIoCv3/obj/Debug/net8.0/4.OpenWeatherMapIoCv2.GeneratedMSBuildEditorConfig.editorconfig
/OpenWeatherMapIoCv3/obj/Debug/net8.0/4.OpenWeatherMapIoCv2.genruntimeconfig.cache
/OpenWeatherMapIoCv3/obj/Debug/net8.0/4.OpenWeatherMapIoCv2.pdb
/OpenWeatherMapIoCv3/obj/Debug/net8.0/4.OpenWeatherMapIoCv2.sourcelink.json
/OpenWeatherMapIoCv3/obj/Debug/net8.0/5.OpenWeatherMapIoCv3.AssemblyInfoInputs.cache
/OpenWeatherMapIoCv3/obj/Debug/net8.0/5.OpenWeatherMapIoCv3.assets.cache
/OpenWeatherMapIoCv3/obj/Debug/net8.0/5.OpenWeatherMapIoCv3.csproj.AssemblyReference.cache
/OpenWeatherMapIoCv3/obj/Debug/net8.0/5.OpenWeatherMapIoCv3.csproj.BuildWithSkipAnalyzers
/OpenWeatherMapIoCv3/obj/Debug/net8.0/5.OpenWeatherMapIoCv3.csproj.CoreCompileInputs.cache
/OpenWeatherMapIoCv3/obj/Debug/net8.0/5.OpenWeatherMapIoCv3.csproj.FileListAbsolute.txt
/OpenWeatherMapIoCv3/obj/Debug/net8.0/5.OpenWeatherMapIoCv3.dll
/OpenWeatherMapIoCv3/obj/Debug/net8.0/5.OpenWeatherMapIoCv3.GeneratedMSBuildEditorConfig.editorconfig
/OpenWeatherMapIoCv3/obj/Debug/net8.0/5.OpenWeatherMapIoCv3.genruntimeconfig.cache
/OpenWeatherMapIoCv3/obj/Debug/net8.0/5.OpenWeatherMapIoCv3.pdb
/OpenWeatherMapIoCv3/obj/Debug/net8.0/5.OpenWeatherMapIoCv3.sourcelink.json
/OpenWeatherMapIoCv3/obj/Debug/net8.0/apphost.exe
/OpenWeatherMapIoCv3/obj/5.OpenWeatherMapIoCv3.csproj.nuget.dgspec.json
/OpenWeatherMapIoCv3/obj/5.OpenWeatherMapIoCv3.csproj.nuget.g.props
/OpenWeatherMapIoCv3/obj/5.OpenWeatherMapIoCv3.csproj.nuget.g.targets
/OpenWeatherMapIoCv3/obj/project.assets.json
/OpenWeatherMapIoCv3/obj/project.nuget.cache
*.cache
*.json
*.props
*.targets
/OpenWeatherMapNoIoC/obj/Debug/net8.0/2.OpenWeatherMapNoIoC.AssemblyInfoInputs.cache
/OpenWeatherMapSimple/obj/Debug/net8.0/1.OpenWeatherMapSimple.AssemblyInfoInputs.cache
/OpenWeatherMapIoCv3/obj/Debug/net8.0
/OpenWeatherMapIoCv2/obj/Debug/net8.0/refint/4.OpenWeatherMapIoCv2.dll
/.vs
